#text-ecosystem {
  opacity: 0;
}

#ecosystem-pmr {
  position: absolute;
  width: 170.5px;
  height: 170.5px;
  left: 190px;
  top: 50px;
}

#ecosystem-gp {
  position: absolute;
  width: 170.5px;
  height: 170.5px;
  left: 25px;
  top: 280px;
}

#gp-cyan {
  position: absolute;
  width: 170.5px;
  height: 170.5px;
  left: 25px;
  top: 280px;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

#ecosystem-dia {
  position: absolute;
  width: 170.5px;
  height: 170.5px;
  left: 360px;
  top: 280px;
}

#pome-cyan-small {
  position: absolute;
  left: 190px;
  top: 45px;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.ecosytem-arrow {
  position: absolute;
  width: 75px;
  height: 27px;
  overflow: hidden;
}

.ecosytem-arrow.gp-to-dia {
  top: 350px;
  left: 245px;
}

.ecosytem-arrow.dia-to-pmr {
  top: 225px;
  left: 330px;
  transform: rotate(-120deg);
}

.ecosytem-arrow.pmr-to-gp {
  top: 225px;
  left: 150px;
  transform: rotate(-240deg);
}

.ecosytem-arrow > img {
  width: 100%;
  height: 100%;
}

.ecosytem-arrow > .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e0b1e;
}
.ecosytem-arrow.gp-to-dia > .cover {
  animation: move-1 3s linear forwards infinite;
}

.ecosytem-arrow.dia-to-pmr > .cover {
  animation: move-1 3s linear forwards infinite 1s;
}

.ecosytem-arrow.pmr-to-gp > .cover {
  animation: move-1 3s linear forwards infinite 2s;
}

@keyframes move-1 {
  0% {
    transform-origin: right;
    transform: scaleX(1);
  }
  33% {
    transform-origin: right;
    transform: scaleX(0);
  }
  33.01% {
    transform-origin: left;
    transform: scaleX(0);
  }
  66% {
    transform-origin: left;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(1);
  }
}
