#features-wrapper {
  width: 100%;
  background-color: #595959;
  /* background-color: rgb(16, 4, 24); */
}
#features {
  width: 100%;
  max-width: 877px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-container-wrapper {
  margin-top: 80px;
  display: flex;
  align-items: center;
}

.features-container {
  position: relative;
  width: 445px;
  height: 550px;
}

.features-container:nth-last-child(2n-1) {
  margin-left: 25px;
}

.features-container:nth-last-child(2n) {
  margin-right: 25px;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes text-fade-in {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
