#games-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  z-index: -1;
  background-color: #0e0b1e;
}

#games {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url(../img/pomerun-blur.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 50%;
  position: relative;
  overflow: hidden;
  /* backdrop-filter: blur(18px); */
}

#games-opacity-layer {
  background-color: #0e0b1e66;
}

#games-content {
  backdrop-filter: blur(18px);
}

#games-phone-wrapper {
  width: 100%;
  height: 100vh;
}

#games-phone {
  position: absolute;
  height: 310px;
  width: 640px;
  top: calc(100vh / 2 - 310px / 2);
  left: calc(100% / 2 - 650px / 2);
}

#games-video-wrapper {
  position: absolute;
  overflow: hidden;
  border-radius: 69px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: none;
}

#games-phone > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px) rotate(-90deg);
}
#games-phone > video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
}

#games-phone video[poster] {
  position: absolute;
  height: 130%;
  width: 130%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
}

#games h2,
#games h3,
#games p {
  position: absolute;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

#games h2 {
  font-size: 35px;
  font-weight: bold;
  top: calc(50vh - 155px - 110px);
}

#games h3 {
  font-size: 30px;
  font-weight: bold;
  top: calc(50vh + 155px + 50px);
}
#games p {
  font-size: 20px;
  width: 500px;
  top: calc(50vh + 155px + 90px);
}

#games-store {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  top: calc(50vh + 155px + 180px);
  gap: 20px;
  z-index: -1;
}
