#text-pmr {
  opacity: 0;
  /* margin-left: -100px; */
}

#planet-pmr {
  position: absolute;
  width: 354px;
  height: 271px;
  left: 20px;
  top: 130px;
}

#planet-small {
  position: absolute;
  width: 99px;
  height: 110px;
  left: 250px;
  top: 0;
}

#pome-cyan {
  position: absolute;
  left: 57px;
  top: 120px;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

#band {
  position: absolute;
  top: 80px;
  left: 15px;
  width: 364px;
  height: 364px;
  border-radius: 50%;
  border-top: 5px solid rgba(0, 255, 255);
  transform: rotateY(33deg) rotateX(-54deg);
  animation: spin--1 2000ms linear infinite;
}

@keyframes spin--1 {
  to {
    transform: rotateY(33deg) rotateX(-54deg) rotate(360deg);
  }
}
