.swap-main {
  position: relative;
  height: 5vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.swap-main > img {
  height: 80vh;
}

.sticky {
  height: calc(100vh * 3);
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50vh;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.sticky > div {
  width: 50%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  height: 100vh;
}

#swap-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  position: relative;
}

#swap-text > div {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 30vw;
  opacity: 0;
  text-align: center;
  transition: opacity 150ms ease-in-out;
}
#swap-text h3 {
  font-weight: bold;
  font-size: 48px;
  color: #ffb800;
  margin-bottom: 32px;
}

#swap-text p {
  font-weight: 400;
  font-size: 32px;
  color: #fff;
}

.phone {
  position: relative;
}

.phone .notch {
  position: absolute;
  top: calc(50% - 402px);
  left: 2px;
  background-color: #13131b;
  height: 37px;
  width: 372px;
}

.phone img {
  position: absolute;
  top: calc(50% - 423px);
  left: -24px;
  z-index: 2;
}

.phone .content-back {
  position: absolute;
  top: calc(50% - 370px);
  left: 0;
  background-color: #1c1c26;
  width: 375px;
  height: 750px;
}

.phone canvas {
  position: absolute;
  top: calc(50% - 370px);
  left: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out 300ms;
}
