#swap-wrapper {
  background-color: #0e0b1e;
  width: 100%;
  height: 100%;
}
#swap-main {
  position: relative;
  /* height: 100vh; */
  height: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
#swap-image-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#swap-sticky {
  /* display: none; */
  /* scroll height */
  height: 200vh;
  width: 1200px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

#swap-sticky > div {
  width: 600px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  height: 100vh;
}

#swap-phone {
  position: relative;
  width: 50%;
  transform: scale(0.8);
}

#swap-phone #notch {
  position: absolute;
  top: calc(50% - 402px);
  left: 105px;
  background-color: #13131b;
  height: 37px;
  width: 372px;
}

#swap-phone img {
  position: absolute;
  top: calc(50% - 423px);
  left: 82px;
  z-index: 2;
}

#swap-phone #content-back {
  position: absolute;
  top: calc(50% - 370px);
  left: 105px;
  background-color: #1c1c26;
  width: 375px;
  height: 750px;
}

#swap-phone canvas {
  position: absolute;
  top: calc(50% - 370px);
  left: 105px;
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

#swap-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  position: relative;
}

#swap-text > div {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  /* width: 30vw; */
  opacity: 0;
  text-align: center;
  transition: opacity 150ms ease-in-out;
}
#swap-text h3 {
  font-weight: bold;
  font-size: 40px;
  color: #ffb800;
  margin-bottom: 32px;
}

#swap-text p {
  width: 600px;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
}

#between {
  /* display: none; */
  width: 100%;
  height: 50vh;
  background-color: #0e0b1e;
}

#swap-header {
  position: fixed;
  top: 0;
  width: 100vw;
}
