.content-roadmap {
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  text-align: justify;
  background-color: #868686;
  height: 1600px;
}

.content-roadmap .mobile-timeline {
  display: none;
}

.content-roadmap .roadmap {
  max-width: 1600px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 3%;
  padding-top: 3%;
}

.content-roadmap .roadmap header {
  color: #ffbb00;
  font-size: 40px;
  font-weight: 900;
  align-items: center;
  min-width: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-roadmap .roadmap aside {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 750px;
}

.content-roadmap .timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.content-roadmap .timeline .right-side {
  position: absolute;
  top: calc(8%);
  right: calc(18% + 3px);
}

.content-roadmap .timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #ffb800;
  top: 0;
  bottom: calc(0% - 10px);
  left: 50%;
  margin-left: -1px;
}

.content-roadmap .container {
  overflow: visible;
  padding: 15px 30px;
  position: relative;
  background: inherit;
  align-items: center;
  width: 250px;
  height: 250px;
}

.content-roadmap .container.left {
  left: 0;
}

.content-roadmap .container.right {
  left: 73%;
}

.content-roadmap .container::after {
  content: '';
  position: absolute;
  width: 29px;
  height: 29px;
  top: calc(50% - 15px);
  right: calc(-100% + 33px);
  background: #ffb800;
  border: 2px solid #ffb800;
  border-radius: 16px;
  z-index: 0;
}

.content-roadmap .container.right::after {
  left: calc(-100% + 30px);
}

.content-roadmap .container::before {
  content: '';
  position: absolute;
  width: 290px;
  height: 0px;
  top: calc(50% + 1px);
  right: calc(-100% + 50px);
  border: 0.1px dashed #ffb800;
  z-index: 0;
}

.content-roadmap .container.right::before {
  left: calc(-100% + 50px);
}

.content-roadmap .container .content {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: none;
  border: 3px solid #ffb800;
  box-sizing: border-box;
  border-color: #ffb800;
  position: relative;
  vertical-align: middle;
  border-radius: 500px;
}

.content-roadmap .container.right .content {
  border-radius: 500px;
}

.content-roadmap .container .content a {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 800;
  color: #ffffff;
}

.content-roadmap .container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.content-roadmap .container.image {
  width: 300px;
  height: 300px;
}

.content-roadmap .container.image a {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 800;
  width: 310px;
  color: #ffffff;
  position: absolute;
  -webkit-transform: translate(-13%, 50%);
  -ms-transform: translate(-13%, 50%);
  transform: translate(-13%, 50%);
}

.content-roadmap .container.right.image a {
  -webkit-transform: translate(-4%, 50%);
  -ms-transform: translate(-4%, 50%);
  transform: translate(-4%, 50%);
}

.content-roadmap .container img {
  width: 450px;
  -webkit-transform: translate(-25%, 10%);
  -ms-transform: translate(-25%, 10%);
  transform: translate(-25%, 10%);
  z-index: 10000;
}

.content-roadmap .container.image::before {
  top: calc(48%);
  right: calc(-60%);
}

.content-roadmap .container.image::after {
  top: calc(43%);
  right: calc(-63% + 1px);
}

.content-roadmap .container.right.image::before {
  top: calc(55%);
  left: calc(-100% + 90px);
}

.content-roadmap .container.right.image::after {
  top: calc(50%);
  left: calc(-100% + 80px);
}

.arrow {
  position: relative;
}

.arrow::after {
  position: absolute;
  top: 6px;
  left: 561px;
  content: '';
  width: 15px; /* 사이즈 */
  height: 15px; /* 사이즈 */
  border-top: 4px solid #ffb800; /* 선 두께 */
  border-right: 4px solid #ffb800; /* 선 두께 */
  transform: rotate(135deg); /* 각도 */
}

/* ---- added rules for animation --- */
.content-roadmap {
  overflow: hidden;
  height: 2050px;
  padding-top: 100p;
}

.timeline .container {
  margin-bottom: 100px;
}

/* 텍스트 컨텐트, 이미지 */
.timeline .container > .content,
.timeline .container > .imagebox {
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.timeline .container.left > .content,
.timeline .container.left > .imagebox {
  transform: translateX(-250px);
}

.timeline .container.right > .content,
.timeline .container.right > .imagebox {
  transform: translateX(250px);
}

.timeline .container.left.fade-in > .content,
.timeline .container.left.fade-in > .imagebox,
.timeline .container.right.fade-in > .content,
.timeline .container.right.fade-in > .imagebox {
  opacity: 1;
  transform: translateX(0px);
}

/* 점선 */
.timeline .container::before {
  opacity: 0;
  transition: all 1200ms ease-in-out;
}

.timeline .container.left::before {
  transform-origin: left;
  transform: translateX(-80px) scaleX(0);
}

.timeline .container.right::before {
  transform-origin: right;
  transform: translateX(80px) scaleX(0);
}

.timeline .container.left.fade-in::before,
.timeline .container.right.fade-in::before {
  opacity: 1;
  transform: translateX(0px) scaleX(1);
}

/* 원 */
.timeline .container::after {
  opacity: 0;
  transform: scale(0);
  transition: all 1200ms ease-in-out;
}

.timeline .container.fade-in::after {
  opacity: 1;
  transform: scale(1);
}
