body {
  background-color: #595959;
}

.dummy {
  font-size: 32px;
  height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main {
  opacity: 0;
  transition: opacity 225ms ease-in-out;
}

.main > img {
  height: 100%;
  height: 80vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sticky {
  height: calc(100vh * 3);
  width: 1200px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 225ms ease-in-out;
}

.sticky > div {
  width: 50%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  height: 100vh;
  width: 600px;
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  position: relative;
}

#text > div {
  font-weight: bold;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 30vw;
  opacity: 0;
  text-align: center;
}
#text h3 {
  font-size: 48px;
  color: #ffb800;
  margin-bottom: 32px;
}

#text p {
  font-size: 32px;
  color: #fff;
}

.phone {
  position: relative;
}

.phone img {
  position: absolute;
  top: 73px;
  left: -27px;
}

.phone .notch {
  position: absolute;
  top: 89px;
  left: 0;
  background-color: #13131b;
  height: 37px;
  width: 370px;
}
